{% extends "AppCoder/padre.html" %}

{% block NavbarTitulo %}

MiPrimerProyecto
                                
{% endblock %}

{% load static %}

{% block titulo %}

Sedes que tenemos en estos momentos.
                                
{% endblock %}

{% block descripcion %}

{% for gimnasio in object_list %}

<p>Nombre: {{gimnasio.nombre}}</p>
<p>FechaDeCreacion: {{gimnasio.fechaCreacion}}</p>
<p>Localizacion: {{gimnasio.localicacion}}</p>

<a href="{% url 'GimnasiosDetalle' gimnasio.id %}"> ---------Ver Gimnasio---------</a>
<a href="{% url 'GimnasiosEditar' gimnasio.id %}"> Editar Gimnasio-------</a>
<a href="{% url 'GimnasiosBorrar' gimnasio.id %}"> Eliminar Gimnasio</a>


{% endfor %}
    

<br>
<a href="{% url 'GimnasiosCrear' %}"> Crear Gimnasio</a>

                            
{% endblock %}
    


