{% extends "AppCoder/padre.html" %}

{% block NavbarTitulo %}

MiPrimerProyecto
                                
{% endblock %}

{% load static %}

{% block titulo %}

Sedes que tenemos en estos momentos.
                                
{% endblock %}

{% block descripcion %}
    
    <p>Nombre: {{gimnasio.nombre}}</p>
    <p>FechaDeCreacion: {{gimnasio.fechaCreacion}}</p>
    <p>Localizacion: {{gimnasio.localicacion}}</p>

    <a href="{% url 'GimnasiosLeer' %}"> Regresar </a>

{% endblock %}
