<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for entrenador in Coach %}

    <p>Nombre: {{entrenador.nombre}}</p>
    <p>Apellido: {{entrenador.apellido}}</p>
    <p>Especialidad: {{entrenador.especialidad}}</p>

    
    <button>
        <a href="{% url 'EntrenadoresEditar' entrenador.nombre %}"> Editar Entrenadores</a>
    </button>
    <button>
        <a href="{% url 'EntrenadoresEliminar' entrenador.nombre %}"> Eliminar Entrenadores</a>
    </button>
    


    ▁ ▂ ▃  ▅ ▆ ▇ █ ▉ ▇ ▆ ▅ ▃ ▂ ▁ ▁ ▂ ▃  ▅ ▆ ▇ █ ▉ ▇ ▆ ▅ ▃ ▂ ▁ 

    {% endfor %}

</body>

</html>



