<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for maquina in Maquinaria %}

    <p>Nombre: {{maquina.nombre}}</p>
    <p>ZonaDeTrabajo: {{maquina.zonaDeTrabajo}}</p>
    <p>PesoMax: {{maquina.pesoMax}}</p>

    
    <button>
        <a href="{% url 'MaquinasEditar' maquina.nombre %}"> Editar Maquinas</a>
    </button>
    <button>
        <a href="{% url 'MaquinasEliminar' maquina.nombre %}"> Eliminar Maquinas</a>
    </button>
    


    ▁ ▂ ▃  ▅ ▆ ▇ █ ▉ ▇ ▆ ▅ ▃ ▂ ▁ ▁ ▂ ▃  ▅ ▆ ▇ █ ▉ ▇ ▆ ▅ ▃ ▂ ▁ 

    {% endfor %}

</body>
</html>